
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">

                <mat-card class="cardangular">
                    <mat-card-header>
                      <div mat-card-avatar class="header-image"></div>
                      <mat-card-title>Bryan Quisaguano</mat-card-title>
                      <mat-card-subtitle>Desarrollo de Software (Egresado)</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://avatars.githubusercontent.com/u/66704761?v=4" alt="me">
                    <mat-card-content>
                      <h3>
                        Mucho Gusto señoras y señores.
                      </h3>
                      <h3>
                        Soy una persona que le gusta aprender, considero que la preparación día a día es fundamental para el correcto desarrollo de habilidades.
                        Me encantan los temas relacionados con el desarrollo de nuevas tecnologías.
                        Además, me apasiona la solución de problemas a través de la programación, especialmente en Java.
                      </h3>
                    </mat-card-content>
                    
                  </mat-card>

            </div>

        </div>
    </div>

</div>