<div class="bootstrap-wrapper">
    <div class="container">
        <h2 class="tituloContacto">Puedes contactarme mediante redes sociales</h2>
        <div class="row">
            <div class="col-md-4">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Github</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image class="imageRedes" src="https://play-lh.googleusercontent.com/PCpXdqvUWfCW1mXhH1Y_98yBpgsWxuTSTofy3NGMo9yBTATDyzVkqU580bfSln50bFU" alt="me">
                    <mat-card-content>
                        <mat-card-actions>
                            <a class="buttoncard" href="https://github.com/BryanArmando" target="_blank" mat-raised-button color="primary">Ir</a>
                        </mat-card-actions>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="col-md-4">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Linkedln</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image class="imageRedes" src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw" alt="me">
                    <mat-card-content>
                        <mat-card-actions>
                            <a class="buttoncard" href="https://www.linkedin.com/in/bryan-quisaguano/" target="_blank" mat-raised-button color="primary">Ir</a>
                        </mat-card-actions>
                    </mat-card-content>
                </mat-card>

            </div>
            <div class="col-md-4">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Twitter</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image class="imageRedes" src="https://pbs.twimg.com/profile_images/1488548719062654976/u6qfBBkF_400x400.jpg" alt="me">
                    <mat-card-content>
                        <mat-card-actions>
                            <a class="buttoncard" href="https://twitter.com/BryanAr85746106" target="_blank" mat-raised-button color="primary">Ir</a>
                        </mat-card-actions>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>